html, body {
    
    padding: 0;
    margin: 0;
    
  }
  
  #root {
    height: 100vh;
    background-color: #1A1A1D;
    font-family: 'Nunito', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
   
  }
  
  .joinInnerContainer {
    margin-left: 20px;
    width: 400px;
  }

  

  .joinOuterContainer img{
    border-radius: 50%;
  }
  
  .joinInput {
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
    font-family: 'Nunito', sans-serif;
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 25px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .joinOuterContainer {
      height: 90vh;
      
      
    }
  
    .joinInnerContainer {
      width: 90%;
      margin-left: 0px;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }